/* BackGround color */
.bgGhostwhite {
	background-color: ghostwhite;
}
.bgRed {
	background-color: red;
}
.bgGreen {
	background-color: green;
}
.bgBlanchedalmond {
	background-color: blanchedalmond;
	box-shadow: inset 0 0 2px #000000;
}
.bgNavBar {
	/* background-color: lightsteelblue; */
	background-color: rgb(49, 49, 49);
}
.bgLightsteelblue {
	background-color: lightsteelblue;
}
/* BackGround color Hover */
.ghostwhiteHover:hover {
	background-color: ghostwhite;
}
.lightsteelblueHover:hover {
	background-color: lightsteelblue;
}

/* Color */
.colorRed {
	color: red;
}
.colorWhite {
	color: white;
}

/* Error/Success color */
.error-field{
	color:red;
}
.success-field{
	color:green;
}

.bgPrincipal {
	/* background-color: rgb(255, 246, 245); */
	/* background: linear-gradient(to right, #E91E63, #00BCD4); */
	background-color: #f7f7f7;
}

.bgCard {
	/* background-color: rgb(255, 246, 245); */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
