/* Font */
.font-5{
	font-size: 20px;
}
.font-xLarge{
	font-size: x-large;
}
.font-Verdana{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font-lighter {
	font-weight: lighter;
}
.bold {
	font-weight: bold;
}
.main-font-family{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}